# Task PDF
*.pdf

# Env
.env
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml
dbt/dbt_packages/
dbt/package-lock.yml

# Jupyter
notebooks/.ipynb_checkpoints/

# Docker
*.log
